body {
  margin: 0;
}

.popup {
  border: 1px solid #ccc;
  border-radius: 5px;
  background: #fff;
  padding: 2em;
  width: 500px;

  display: block;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -100%);
  opacity: 0;
  transition: all 0.5s ease-out;
}
.popup section div {
  display: flex;
  gap: 1em;
}

.popup button.clear {
  float: right;
}

body.show .popup {
  /* display: block; */
  transform: translate(-50%, -50%);
  opacity: 1;
}
