main {
  margin: 0 15%;
}
#about-content {
  display: flex;
  justify-content: space-evenly;
  margin: 20px 35px;
}
#about-content p {
  width: 50%;
  margin: 5px 80px;
  line-height: 2em;
}
#about-content img {
  width: 500px;
}
