main {
  margin: 0 15%;
}
#about-content {
  display: flex;
  margin: 20px 10%;
  flex-direction: column;
  align-items: center;
}
#img-titel {
  margin-right: auto;
  margin-top: 30px;
}
#about-content p {
  font-size: 1.3rem;
  width: 100%;
  line-height: 2em;
}
.blue-specification {
  color: #2300ff;
}

#about-content img {
  width: 100%;
  height: auto;
  margin-top: 50px;
}
