body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;

  --border-radius: 5px;
  --primary-color: #2300ff;
}

body,
p,
div,
ul,
main,
h1,
h2 {
  margin: 0;
  font-family: "メイリオ";
}

h1 {
  font-size: 40px;
  border-bottom: 3px solid var(--primary-color);
  width: 900px;
  text-align: center;
  margin: 20px auto;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

button {
	cursor: pointer;
}

/********** header **********/
header {
  --header-height: 100px;
  width: 100%;
  height: var(--header-height);
  display: flex;
  justify-content: center;
  gap: 100px;
  margin-top: 1rem;
  align-items: center;
}

header li {
	list-style: none;
}

header button,
header a {
	cursor: pointer;
}

header .search_area {
  display: flex;
  align-items: center;
}
.header_img img {
  height: var(--header-height);
}
header .header_search_bar div {
  display: flex;
  gap: 10px;
}
header .header_search_bar div p:first-of-type {
  font-size: 32px;
  color: var(--primary-color);
}
header .header_search_bar div p:last-of-type {
  align-items: center;
  font-size: 24px;
  color: var(--primary-color);
  display: flex;
}

header .search_bar {
  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);
  display: flex;
}

header .search_bar input,
header .search_bar button,
header .header_menu nav button {
	border: none;
	background-color: white;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: var(--border-radius);
}

header .search_bar input {
  padding-right: 5px;
  width: 100%;
  outline: var(--primary-color);
}

header .search_bar button {
  color: var(--primary-color);
  padding-left: 5px;
}
header .header_menu {
  display: flex;
  align-items: center;
  gap: 50px;
}
header .header_menu nav {
  display: flex;
  gap: 30px;
}
header .header_menu nav button {
	padding: 0;
	outline: none;
	border-radius: 0;
}
header .header_menu nav button::after {
	content: "";
	display: block;
	width: 0;
	height: .5px;
	background: var(--primary-color);
	transition: width 0.3s;
}

header .header_menu nav button span {
	color: var(--primary-color);
}

header button.header_button {
	padding: 0;
	border: 0;
	outline: none;
}

header button.header_button a{
	background-color: var(--primary-color);
	padding: 10px 30px;
	color: white;
	text-decoration: none;
	border-radius: var(--border-radius);
}

@media (max-width: 1800px) {
	header .header_search_bar div p:first-of-type {
		font-size: 24px;
	}
	header .header_search_bar div p:last-of-type {
		font-size: 16px;
	}
	header .header_menu button a{
		font-size: 16px;
	}
}

@media (max-width: 1400px) {
	header {
		gap: 50px;
	}
	header .header_search_bar div p:first-of-type {
		font-size: 16px;
	}

	/* header .header_menu button {
		font-size: 16px;
	} */
	header .header_menu {
		gap: 20px;
	}
}

@media (max-width: 1120px) {
	header .header_menu nav {
		gap: 15px;
	}
	header .header_menu nav button {
		font-size: 14px;
	}
	header .header_menu button.header_button a {
		/* font-size: 14px; */
		padding: 8px 20px;
	}
}

@media (max-width: 1024px) {
	header {
		margin-top: 0;
		gap: 80px;
	}
	header .header_search_bar div p:first-of-type {
		font-size: small;
	}
	header .header_search_bar div p:last-of-type {
		font-size: 6px;
	}
	header .search_bar button {
		padding: 6px 10px;
	}
	header .header_search_bar input {
		font-size: 16px;
		padding: 6px 0 6px 10px;
	}
}
@media (max-width: 1000px) {
}
@media (max-width: 900px) {
	header {
		gap: 30px;
	}
}

@media (hover: hover) {
	header .header_menu nav button:hover::after,
	header .header_menu nav button:focus::after {
		width: 100%;
	}
}

/* Dropdown styling */
.dropdown {
	position: relative;
}
.dropdown button.dropdown_link {
	color: rgba(0, 0, 0, 0.6);
}
.dropdown button.dropdown_link:hover,
.dropdown > button.dropdown_link:active {
	color: black;
}
.dropdown .dropdown_content {
	position: absolute;
	background-color: var(--primary-color);
	color: white;
	z-index: 1;
	left: 50%;
	top: calc(100% + 0.4rem);
	border-radius: var(--border-radius);
	padding: 1rem;
	width: max-content;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);

	/* to allow mouse events to pass, translateY 10px blocks otherwise */
	pointer-events: none;

	opacity: 0;
	transform: translateY(var(--translateY, -10px)) translateX(-50%);
	transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.dropdown .dropdown_content::before {
	--triangle-size: 0.4rem;
	content: "";
	position: absolute;
	top: -0.4rem;
	left: 50%;
	transform: translateX(-50%);
	border-left: var(--triangle-size) solid transparent;
	border-right: var(--triangle-size) solid transparent;
	border-bottom: var(--triangle-size) solid var(--primary-color);
}

.dropdown .dropdown_content {
  display: grid;
  gap: 10px;
}
.dropdown .dropdown_content li:not(:last-child) {
  padding: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.dropdown .dropdown_content li a {
  color: white;
  text-decoration: none;
}

.dropdown.active > button.dropdown_link + .dropdown_content {
  opacity: 1;
  pointer-events: auto;
  --translateY: 0;
}

/********** footer **********/
footer {
  margin-top: 30px;
  border-top: 3px solid var(--primary-color);
  text-align: left;
}

.footer_menu {
  border-bottom: 1px solid #b3b3b3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(max-content, 200px));
  gap: 40px 100px;
  align-content: center;
  justify-content: center;
  padding: 3rem 1rem 1.5rem 1rem;
}

.footer_menu p {
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid var(--primary-color);
  margin-bottom: 10px;
  color: var(--primary-color);
}

footer a {
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}

footer ul {
  padding-left: 1em;
  list-style-type: square;
}

footer li::marker {
  color: var(--primary-color);
}

footer li {
  margin-top: 5px;
}

.copyright {
  text-align: center;
  padding-top: 10px;
}

.copyright p:last-of-type {
  color: #b3b3b3;
}

@media (max-width: 1440px) {
  footer li {
    font-size: small;
  }
}

@media (max-width: 1200px) {
  .footer_menu {
    gap: 20px 40px;
  }
}
@media (max-width: 510px) {
  footer .copyright {
    font-size: small;
  }
}

/********** popUp **********/
.popup {
  display: flex;
  justify-content: space-between;
  border: 1px solid #b3b3b3;
  border-radius: var(--border-radius);
  padding: 15px;
}

.popup section:first-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  text-align: center;
  align-items: center;
}

.popup button {
  color: white;
  background-color: var(--primary-color);
  border-radius: var(--border-radius);
  border: none;
}

.popup i {
  padding-right: 10px;
  font-size: 24px;
}

.popup_question section:first-of-type,
#search_stock_fail_popup section:first-of-type {
  gap: 20px;
}

/* logout, import, export */
.popup_question {
  width: 500px;
  height: 150px;
  font-size: 24px;
}

.popup_question div {
  display: flex;
  justify-content: center;
  gap: 30px;
}

.popup_question button {
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-weight: bold;
}

.popup_question button:last-of-type {
  background-color: white;
  border: 1px solid var(--primary-color);
  color: var(--primary-color);
}

.popup_message {
  width: 800px;
  height: 50px;
  font-size: 32px;
  align-items: center;
  text-align: center;
}

.popup_message p {
  width: 100%;
}

/********** registration **********/
.popup_register {
  width: 1000px;
  height: 300px;
}

.popup_register section {
  gap: 20px;
}

.popup_register p:first-of-type {
  font-size: 32px;
}

.popup_register p:last-of-type {
  font-size: 24px;
}

/********** search_stock **********/
#search_stock_fail_popup {
  width: 600px;
  height: 200px;
}

#search_stock_fail_popup button {
  width: 200px;
  height: 50px;
}

#search_stock_fail_popup button i {
  font-size: 16px;
}

/********** forms **********/
.page_title {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.page_info {
  display: flex;
  justify-content: center;
}

.entry_form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.form_info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  width: 900px;
}

.entry_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 900px;
}

.entry_box label {
  text-align: left;
}

.entry_box input,
.entry_box textarea {
  padding: 5px;
  border-radius: var(--border-radius);
}

.entry_box input {
  height: 24px;
}

.entry_box textarea {
  height: 150px;
}

.check_box {
  display: flex;
  gap: 10px;
  align-items: center;
}

.check_box input {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.check_box label {
  text-align: left;
  cursor: pointer;
}

.button {
  width: 700px;
  height: 60px;
  font-size: 24px;
  font-weight: bold;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: var(--border-radius);
}

@media (max-width: 1200px) {
  .page_title h1 {
    font-size: 32px;
  }

  .form_info {
    width: 700px;
  }

  .entry_box {
    width: 700px;
  }

  .button {
    width: 500px;
  }
}