.page_info {
  gap: 250px;
  font-size: 24px;
}

.file_box {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.file_box label {
  text-align: left;
}

.file_box section {
  display: flex;
  gap: 20px;
  align-items: center;
}

.file_box button {
  width: 150px;
  height: 50px;
}