main,
body {
  display: block;
}
.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.sort-titel {
  text-align: left;
}
.sort-list,
.page-control,
#export-button {
  cursor: pointer;
}
#export-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}
table {
  width: 90%;
}
.text {
  text-align: left;
}
.number {
  text-align: right;
}
th,
td {
  padding: 5px 20px;
  font-size: 1.5rem;
}
#export-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
}
#export-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
}
#export-table th {
  background-color: #2300ff;
  color: #ffffff;
}

.fa-caret-left,
.fa-caret-right {
  color: #2300ff;
}

.table-bottom {
  text-align: center;
  margin-bottom: 40px;
}
#export-button {
  width: 950px;
  height: 45px;
  padding: 5px 45px;
  color: #ffffff;
  background-color: #2300ff;
  border: none;
  border-radius: 5px;
}
