.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.sort-titel {
  text-align: left;
}
#export-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}

#export-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
}
#export-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
  padding: 5px 15px;
}
#export-table th {
  background-color: #2300ff;
  padding: 5px 30px;
  color: #ffffff;
}

.fa-caret-left,
.fa-caret-right {
  color: #2300ff;
}

.table-bottom {
  text-align: center;
  margin-bottom: 40px;
}
#export-button {
  width: 30%;
  padding: 5px 45px;
  color: #ffffff;
  background-color: #2300ff;
  border: none;
  border-radius: 5px;
}
