section {
	display: grid;
	place-content: center;
}


section form.import_form {
	box-sizing: border-box;
	width: 500px;
	height: 500px;
	border-radius: calc(var(--border-radius) * 2);
	box-shadow: 0px 3px 16px rgba(0, 0, 0, 16%);
	padding: 4em;
	display: flex;
	flex-direction: column;
	gap: 1em;
	justify-content: space-between;
	align-items: center;
}

section form.import_form .form_box {
	width: 100%;
	box-sizing: border-box;
	border: 2px solid var(--primary-color);
	border-radius: var(--border-radius);
	border-style: dashed;
	background-color: #f7f7f7;
	padding: 4em 2em;
	cursor: grab;
}

section form.import_form .button.disabled {
	background-color: rgb(35 0 255 / 40%);
	cursor: not-allowed;
}
section form.import_form .button {
	width: 300px;
	height: 50px;
	font-size: 1rem;
	background-color: var(--primary-color);
	border: none;
	color: #f7f7f7;
	border-radius: var(--border-radius);
}
section form.import_form .button i {
	margin-left: 1em;
}

section form.import_form p {
	font-size: 14px;
	margin-top: 1em;
  opacity: .7;
}

section form.import_form .form_box i {
	font-size: 4rem;
	background-color: #f7f7f7;
	color: rgba(34, 0, 255, 0.8);
}
