main {
  display: block;
}
#owner-table {
  margin: 30px 10%;
  font-size: 1.3rem;
}
#owner-table th {
  padding-right: 60px;
  text-align: left;
  font-weight: normal;
}
#owner-table td {
  text-align: left;
}
th,
td {
  padding: 8px 0;
}
