.privacy-policy-text {
  display: flex;
  flex-direction: column;
  padding: 0 10%;
}

.privacy-policy-text h2,
.privacy-policy-text h3,
.privacy-policy-text h4,
.privacy-policy-text p {
  font-size: 1rem;
  text-align: left;
  display: inline-block;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
}
.privacy-policy-article {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
#privacy-policy-box {
  margin: 0 10%;
  margin-bottom: 10px;
  text-align: right;
  font-size: 1rem;
}
#privacy-policy-signature {
  display:inline-block;
  text-align: left;
}

