.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 50px;
}
#search-stock-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}
#search-stock-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
}
#search-stock-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
  padding: 5px 15px;
}

#search-stock-table th {
  background-color: #2300ff;
  padding: 5px 40px;
  color: #ffffff;
}
.fa-caret-left,
.fa-caret-right {
  color: #2300ff;
}
