main,
body {
  display: block;
}
.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.sort-titel {
  text-align: left;
}
.page-control,
.sort-list {
  cursor: pointer;
}
table {
  max-width: 1000px;
}
.text {
  text-align: left;
}
.number {
  text-align: right;
}
th,
td {
  padding: 5px 20px;
}
td {
  font-size: 1.1rem;
}
th {
  font-size: 0.9rem;
}
#search-stock-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}
#search-stock-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
}
#search-stock-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
}

#search-stock-table th {
  background-color: #2300ff;
  color: #ffffff;
}
.fa-caret-left,
.fa-caret-right {
  color: #2300ff;
}
.mail {
  color: #2300ff;
}
.fa-envelope {
  color: #000000;
}
.table-bottom p {
  margin: 20px 0;
}
#estimate-button {
  width: 900px;
  height: 45px;
  padding: 5px 45px;
  color: #ffffff;
  background-color: #2300ff;
  border: none;
  border-radius: 5px;
}
