#terms-text {
  display: flex;
  text-align: center;
  flex-direction: column;
  margin: 0 15%;
  margin-bottom: 20px;
}
ul {
  list-style: none;
  text-align: left;
}
#terms-text p {
  font-size: 1rem;
  margin: 0;
  margin-top: 5px;
}
#terms-text h2,
#terms-text h3,
#terms-text h4,
#terms-text p {
  text-align: left;
  display: inline-block;
}
#terms-text h2 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  font-size: 1.5rem;
  margin: 12px 0 8px 0;
}
#terms-text h3 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 0 8px 0;
  font-size: 1.2rem;
}
#terms-text h4 {
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 12px 0 8px 0;
  font-size: 1rem;
}
