main {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
}

.main_title {
	display: none;
}

header {
	box-sizing: border-box;
	padding-right: var(--content-start);
	justify-content: right;
}

header .search_area {
	display: none;
}

.search_area {
	display: flex;
	/* gap: 7em; */
}

.search_area {
}
.search_area .search_area_left {
	display: flex;
	align-items: center;
	width: fit-content;
}
.search_area .search_area_left section {
}
.search_area .search_area_left section.top_logo {
}
.search_area .search_area_left section.top_search_bar {
}
.search_area .search_area_right {
	width: 250px;
	position: relative;
}
.search_area .search_area_right .top_img {
}

.top_logo {
	/* width: 200px; */
	height: 200px;
}

.top_logo img {
	width: 150px;
}

.top_search_bar {
	display: flex;
	flex-direction: column;
	gap: 5px;
}

.top_search_bar div {
	display: flex;
	gap: 10px;
}

.top_search_bar div p:first-of-type {
	font-size: 32px;
	color: var(--primary-color);
}

.top_search_bar div p:last-of-type {
	align-items: center;
	font-size: 24px;
	color: var(--primary-color);
	display: flex;
}

.search_bar {
	border: 1px solid var(--primary-color);
	border-radius: var(--border-radius);
	display: flex;
	background-color: #fff;
	/* position: relative; */
}

.search_bar input,
.search_bar button {
	border: none;
	background-color: white;
	font-size: 20px;
	padding: 10px 20px;
	border-radius: var(--border-radius);
}

.search_bar input {
	padding-right: 5px;
	width: 600px;
	height: 50px;
	outline: var(--primary-color);
}

.search_bar button {
	color: var(--primary-color);
	padding-left: 5px;
}

#top_paragraph {
	display: flex;
	flex-direction: column;
}

#top_paragraph p {
	text-align: left;
}

.top_img {
	background-image: url("../assets/top-image-min200kb.jpg");
	width: 400px;
	height: 300px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	z-index: -1;
	left: 50%;
    transform: translateX(-80%);
    top: -3em;
}

.top_img div {
	background-color: rgba(255, 255, 255, 0.4);
	background-image: radial-gradient(ellipse, transparent 45%, white 72%);
	width: 400px;
	height: 300px;
}

@media (max-width: 1440px) {
	.top_search_bar div p:first-of-type {
		font-size: 24px;
	}

	.top_search_bar div p:last-of-type {
		font-size: 16px;
	}

	.search_bar input {
		width: 500px;
		height: 50px;
	}

	header .header_menu {
		gap: 50px;
	}
}

@media (max-width: 1200px) {
}
