main,
body {
  display: block;
}
.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.sort-titel {
  text-align: left;
}
.page-control,
.sort-list,
#update-button,
#import-link,
#export-link {
  cursor: pointer;
}
#update-stock-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}
table {
  max-width: 950px;
}
th,
td {
  font-size: 1.1rem;
}
#update-stock-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
  padding: 5px 15px;
}
#update-stock-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
  padding: 5px 15px;
}
#update-stock-table th {
  background-color: #2300ff;
  padding: 5px 30px;
  color: #ffffff;
}
.fa-caret-left,
.fa-caret-right {
  color: #2300ff;
}
#update-button {
  height: 30px;
  padding: 5px 90px;
  color: #ffffff;
  background-color: #2300ff;
  border: none;
  border-radius: 5px;
}
.table-bottom {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}

a {
  color: #2300ff;
  text-decoration: none;
  margin-right: 10px;
}
