main,
body {
  display: block;
}
.table-top {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  margin-top: 20px;
  align-items: center;
}
.sort-titel {
  text-align: left;
}
.page-control,
.sort-list,
#update-button,
#import-link,
#export-link {
  cursor: pointer;
}
#update-stock-table {
  border: 0;
  margin: 20px auto;
  border: none;
  color: #ffffff;
  border-spacing: 0;
  border-collapse: separate;
  overflow: hidden;
}
table {
  width: 90%;
}
th,
td {
  font-size: 1.5rem;
  padding: 5px 8px;
}
#update-stock-table tr:nth-child(2n) {
  background-color: #ffffff;
  color: #000000;
}
#update-stock-table tr:nth-child(2n + 1) {
  background-color: #e6e6e6;
  color: #000000;
}
#update-stock-table th {
  background-color: #2300ff;
  color: #ffffff;
}
.fa-caret-left,
.fa-caret-right,
.fa-square-full {
  color: #2300ff;
}
#update-button {
  margin-top: 20px;
  width: 900px;
  height: 45px;
  padding: 5px 90px;
  color: #ffffff;
  background-color: #2300ff;
  border: none;
  border-radius: 5px;
}
.table-bottom {
  margin-bottom: 40px;
  display: flex;
  justify-content: space-evenly;
}
#add-btn-part {
  text-align: right;
  margin: 10px 5%;
}
#add-btn {
  border: solid 1px #2300ff;
  color: #2300ff;
  padding: 2px 15px;
  border-radius: 5px;
  background-color: #ffffff;
}
.fa-plus {
  color: #2300ff;
  width: 100;
}
#import-export {
  text-align: right;
  margin: 15px 0;
}
a {
  color: #000000;
  text-decoration: none;
  margin-right: 10px;
  text-align: right;
}
input {
  border: none;
  font-size: 1.6rem; 
  background-color: #00000000;
  width: 90%;
  padding: 2px 15px;
}
.num-input {
  text-align: right;
}
