#user-guide-content {
  margin: 0 10%;
}
#user-guide-content div {
  display: flex;
}

#user-guide-content ol {
  font-size: 24px;
}

#user-guide-content li {
  margin-top: 30px;
  text-align: left;
}

#user-guide-content p {
  color: black;
  font-size: 16px;
}

#user-guide-content p:first-of-type {
  font-weight: bold;
  font-size: 24px;
}
