#user-guide-content {
  margin: 0 10%;
}
div {
  display: flex;
}

ul {
  list-style-type: square;
  color: #2300ff;
}

li {
  margin-top: 30px;
  text-align: left;
}

p {
  color: black;
}

p:first-of-type {
  font-weight: bold;
  font-size: 24px;
}
