#withdraw-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: var(--content-start);
  max-width: calc(100vw - var(--content-start) - var(--content-start));
  width: 800px;
}
.entry_box{
  width: 100%;
  max-width: 100%;
}

#withdraw-text-box {
  text-align: start;
  display: block;
}
#withdraw-text {
  text-align: left;
  display: inline-block;
  font-size: 1.2rem;
}
#withdraw-text p {
  margin-bottom: 5px;
}
.withdraw-form {
  margin: 15px 0;
  font-size: 1.3rem;
}
.withdraw-form input {
  font-size: 1.5rem;
}
.btn-box {
  text-align: center;
}

#withdraw-btn {
  margin-top: 10px;
  background-color: #2300ff;
  color: #ffffff;
  border: none;
  width: 100%;
  padding: 7px 0;
  cursor: pointer;
  border-radius: 5px;
}
